.dashboardDiv {
	display: flex;
	flex-direction: column;
	align-items: center;
	.eventCreatorApp {
		button {
			margin-top: 3%;
			margin-bottom: 10em;
		}
	}
	.dashboardTitle {
		margin-top: 3%;
		.dividingBox {
			margin-top: 3%;
			width: 80%;
			margin-left: 10%;
			height: 2.5em;
			background-color: #d9d9d9;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
	}
}
