.dashboardDiv {
	display: flex;
	flex-direction: column;
	align-items: center;
	.eventCreatorApp {
		button {
			margin-top: 3%;
			margin-bottom: 10em;
		}
	}
	.dashboardTitle {
		margin-top: 3%;
		.dividingBox {
			margin-top: 3%;
			width: 80%;
			margin-left: 10%;
			height: 2.5em;
			background-color: #d9d9d9;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
	}
}
.container {
	font-family: 'Kanit', sans-serif;
}
.showEventCreatorButton {
	button {
		width: 16em;
		height: 100%;
		padding: auto;
		border: 1px;
		border-radius: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		box-shadow: 1.5px 1.5px 1.5px 1.5px rgb(0, 0, 0, 0.1);
		&:hover {
			cursor: pointer;
			box-shadow: 1.5px 1.5px 1.5px 1.5px rgb(0, 0, 0, 0.3);
		}
		&:active {
			transform: translateY(2px);
		}
	}
	.createButton {
		color: #476ccc;
		background-color: white;
		border: 4px #476ccc solid;
		span {
			font-size: 2em;
		}
	}
}

@media (max-width: 1500px) and (min-width: 1001px) {
	.container {
		.grid4 {
			display: none !important;
		}
		.containerHeaders {
			font-size: 1.5em !important;
		}
		.eventName {
			font-size: 1.5em !important;
		}
	}
}
@media (min-width: 1001px) {
	.container {
		margin-top: 2em;
		text-align: start;
		display: grid;
		grid-template-columns: 10% 80% 10%;
		grid-template-rows: 10em 60%;
		grid-auto-flow: row;
		width: 100vw;
		height: 100vh !important;
		.containerHeaders {
			font-size: 2em;
		}
		////////
		.containerHeaders {
			grid-column: 2/3;
			grid-template-columns: 25% 25% 25% 25%;
			display: inherit;
			height: 10em !important;
		}
		.gigsContainer {
			grid-column: 2/3;
			grid-template-columns: 100%;
			grid-auto-rows: 5em;

			display: inherit;
		}
		.returnedDiv {
			display: inherit;
			grid-template-columns: 100%;
		}
		.card {
			// display: inherit;
			// grid-template-columns: 100%;
			grid-column: 1/2;
		}
		.gig {
			display: grid;
			grid-template-columns: 25% 25% 25% 25%;
			align-items: center;
			color: rgb(0, 0, 0, 0.7);
			width: 100%;
			height: 100%;
		}
		.grid1 {
			grid-column: 1 / 2;
			display: flex;
			flex-wrap: initial;
		}
		.grid2 {
			grid-column: 2 / 3;
			display: flex;
		}
		.grid3 {
			grid-column: 3 / 4;
			display: flex;
		}
		.grid4 {
			grid-column: 4 / 5;
			display: flex;
		}

		////////
		a {
			text-decoration: none;
			color: black;
		}
		.eventName {
			font-size: 2em;
			margin-right: 2em;
			text-transform: capitalize;
			margin-top: 0 !important;
			margin-bottom: 0 !important;
		}
		.eventVenueName {
			overflow-y: hidden !important;
			text-transform: capitalize;
			margin-top: 0 !important;
			margin-bottom: 0 !important;
		}
		.eventDate {
			margin-top: 0 !important;
			margin-bottom: 0 !important;
			overflow-y: hidden !important;
		}
		.eventTime {
			margin-top: 0 !important;
			margin-bottom: 0 !important;
		}
		.card {
			margin: 0 !important;

			&:hover {
				cursor: pointer;
				background-color: rgb(0, 0, 0, 0.1);
			}
		}
		.dividingLine {
			border-top: 2px solid rgb(0, 0, 0, 0.3);
		}
	}
}

@media (max-width: 1000px) {
	.index {
		width: 100%;
	}
	.containerHeaders {
		display: none !important;
	}
	.eventTime {
		display: none;
	}
	.eventVenueName {
		display: none;
	}
	.container {
		margin-top: 2em;
		h2 {
			text-decoration: none !important;
			text-transform: capitalize;
		}
		a {
			text-decoration: none !important;
		}
		.eventDate {
			font-size: 1em;
		}
	}
	.gigsContainer {
		display: flex;
		flex-wrap: wrap;
		align-content: space-around;
		justify-content: center;
	}
	.card {
		margin-bottom: 1em;
	}
	.returnedDiv {
		display: flex;
		margin: 1em;
	}
	.gig {
		background-color: #322d2d;
		color: #476ccc;
		margin-bottom: 0;
		box-shadow: 2px 2px 2px 2px rgb(0, 0, 0, 0.1);
		border: 1px black solid;
		&:hover {
			cursor: pointer;
			box-shadow: 2px 2px 2px 2px rgb(0, 0, 0, 0.3);
		}
		&:active {
			transform: translateY(2px);
		}
	}
}
