html {
	height: 100vh;
}
body {
	height: 100vh;
}

.homeBody {
	text-align: center;
	font-family: 'Kanit', sans-serif;
	height: 100vh;
	width: 100%;
	.homeText {
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}
	h1 {
		margin-bottom: 0.3em;
		font-size: 1em;
	}
	h2 {
		color: rgb(0, 0, 0, 0.65);
		font-size: 0.4em;
		margin-bottom: 5em;
		width: 20em;
	}
	button {
		width: 4em;
		height: 100%;
		padding: auto;
		border: 1px;
		border-radius: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		box-shadow: 0.5px 0.5px 0.5px 0.5px rgb(0, 0, 0, 0.1);
		&:hover {
			cursor: pointer;
		}
		&:active {
			transform: translateY(2px);
		}
	}
	.buttonDiv {
		display: inline-flex;
		justify-content: space-between;
		align-content: center;
		height: 1em;
		padding: 20px;
	}
	.loginButton {
		color: #476ccc;
		background-color: white;
		border: 1px #476ccc solid;
		span {
			font-size: 0.5em;
		}
		&:hover {
			color: white;
			background-color: #476ccc;
		}
		margin-right: 5px;
	}
	.registerButton {
		background-color: #476ccc;
		span {
			color: white;
			font-size: 0.5em;
		}
	}
}
@media (max-width: 160px) {
	.buttonDiv {
		flex-direction: column;
		align-content: space-between;
		justify-content: space-between;
	}
	.loginButton {
		margin-bottom: 10px;
	}
	.homeText {
		h1 {
			font-size: 0.8em;
		}
		h2 {
			font-size: 0.2em;
		}
	}
}
